/* setup generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}
ul {
  list-style-type: none;
}

.debug * {
  min-height: 100px;
  padding: 5px;
  background-color: rgb(255, 9, 9);
  border: 2px rgb(22, 1, 140);
}

.border {
  border: 2px dashed black;
}
/* /setup generali */

/* utility */
.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.bt-piccolo-blu {
  background-color: #0261fe;
  width: 60px;
  height: 30px;
  font-size: 0.8rem;
  border: none;
  color: white;
}
.bt-grande-blu {
  background-color: #0261fe;
  width: 180px;
  height: 30px;
  font-size: 0.8rem;
  border: none;
  color: white;
}

/* header */

header {
  max-width: 1300px;
  min-height: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  margin-bottom: 30px;
}

.logo-link {
  max-width: calc(100% / 2);
  flex: 1 0 0;
}
.logo-link ul {
  display: flex;
  align-items: center;
}

.logo-link li {
  display: inline;
  padding-left: 20px;
}
header li > a {
  color: black;
  text-decoration: none;
  font-size: 0.8rem;
}

.logo-link img {
  display: inline;
  padding-left: 20px;
}

.link-bottone {
  max-width: calc(100% / 2);
}

.link-bottone li {
  display: inline;
  padding-right: 20px;
}
/* fine header */

/* inizio main */

main .container {
  display: flex;
  justify-content: center;
  text-align: center;
  min-height: max-content;
}
main .background-azzurro {
  background-color: #b4d0e7;
}

.top-main {
  display: flex;
  justify-content: center;
  min-height: fit-content;
}

.lista-main-azzurro {
  padding-top: 80px;
  max-width: 35%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.immagine-main-azzurro {
  padding-top: 80px;
  max-width: 65%;
  text-align: left;
  display: flex;
  padding-right: 40px;
}
.immagine-main-azzurro img {
  max-width: 75%;
}
.top-main p {
  max-width: calc(33%);
  padding-bottom: 30px;
}
