/* setup generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}
ul {
  list-style-type: none;
}

.debug * {
  min-height: 100px;
  padding: 5px;
  background-color: rgb(255, 9, 9);
  border: 2px rgb(22, 1, 140);
}

.border {
  border: 2px dashed black;
}
/* /setup generali */

/* utility */
.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.bt-piccolo-blu {
  background-color: #0261fe;
  width: 60px;
  height: 30px;
  font-size: 0.8rem;
  border: none;
  color: white;
}
.bt-grande-blu {
  background-color: #0261fe;
  width: 180px;
  height: 30px;
  font-size: 0.8rem;
  border: none;
  color: white;
}
h1 {
  font-size: 4.2rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;
  margin-left: -1, 5rem;
  margin-right: -1, 5rem;
}

/* colonne */

[class="col"] {
  padding-left: 1, 5rem;
  padding-right: 1, 5rem;
}

.col-30 {
  width: 30%;
}

.col-70 {
  width: 70%;
}

.col-1-1 {
  width: calc(100%);
}

.col-1-3 {
  min-width: calc(100% / 3);
  padding-left: 10px;
  padding-right: 10px;
}

/* fine colonne */

/* header */

header {
  min-height: 50px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  margin-bottom: 30px;
}

.logo-link {
  max-width: calc(100% / 2);
}
.logo-link ul {
  display: flex;
  align-items: center;
}

.logo-link li {
  display: inline;
  padding-left: 20px;
}
header li > a {
  color: black;
  text-decoration: none;
  font-size: 0.8rem;
}

.logo-link img {
  display: inline;
  padding-left: 20px;
}

.link-bottone {
  max-width: calc(100% / 2);
}

.link-bottone li {
  display: inline;
  padding-right: 20px;
}
/* fine header */

/* inizio main */

/* jumbo*/

#jumbo {
  background-color: #b4d0e7;
}

#jumbo .container {
  position: relative;
  top: 100px;
}

#jumbo .col-30 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 150px;
}

/* fine jumbo */

/* business */

.business > .container {
  margin-top: 200px;
  max-height: fit-content;
}
.business p {
  display: inline;
  padding-right: 20px;
}
.business h2 {
  padding-bottom: 30px;
}

.business .col-1-1 {
  text-align: center;
  min-height: 40px;
}
.business .col-1-3 h3 {
  padding-top: 20px;
  padding-left: 20px;
}

.business ul li {
  padding-top: 20px;
  padding-left: 20px;
}
.flag-blu {
  display: inline-block;
  border: 5px solid blue;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: white;
  margin-right: 10px;
}
.flag-gray {
  display: inline-block;
  border: 5px solid lightslategrey;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: white;
  margin-right: 10px;
}

/* fine business */
