/* setup generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
ul {
  list-style-type: none;
}

.debug * {
  min-height: 100px;
  padding: 5px;
  background-color: rgb(255, 9, 9);
  border: 2px rgb(22, 1, 140);
}

.border {
  border: 2px dashed black;
}
/* /setup generali */

/* utility */
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
